body {
    background-image: linear-gradient(270deg, rgb(84, 68, 143), rgb(115, 124, 224));
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito.ttf");
    font-display: swap;
}

.border-box {
    position: relative;
    outline: ridge;
    outline-color: rgb(45, 45, 168);
    color: aliceblue;
    background-color: rgb(87, 62, 230);
    text-align: center;
    font-family: "Nunito", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 70px;
}

.description {
    font-size: 16px;
}

.optionText {
    background-color: white;
    border: inherit;
}

.optionButtonText {
    background-color: rgb(87, 62, 230);
    border-radius: 5px;
    border: solid;
    border-color: rgb(45, 45, 168);
    width: 180px;
    transition: background-color 300ms linear;
    user-select: none;
}

.optionButtonText:hover {
    cursor: pointer;
    background-color: rgb(45, 45, 168);
}

.options {
    position: absolute;
    width: fit-content;
    background-color: #7777ff;
    border: ridge;
    border-color: rgb(45, 45, 168);
    border-bottom-right-radius: 10px;
}

.quoteForm {
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(87, 62, 230);
    color: aliceblue;
    font-family: "Nunito", sans-serif;
    font-size: 30px;
}

#addQuote {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
    border: 2px solid rgb(87, 62, 230);
    cursor: pointer;
    margin-bottom: 10px;
    user-select: none;

}

#submitQuotes {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
    border: 2px solid rgb(87, 62, 230);
    cursor: pointer;
    margin-bottom: 10px;
    user-select: none;
}

.quote {
    text-align: center;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


.quoteShow {
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
    box-sizing: border-box;
    color: black;
    outline: ridge;
    outline-color: rgb(45, 45, 168);
    border-radius: 4px;
    background-color: rgb(213, 216, 250);
    font-size: 20px;
    resize: none;
    padding: 20px;
    margin-top: 20px;
}

.quoteCheck {
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ccc;
    margin-top: 6px;
    color: black;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}


.submitButton {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
    border: 2px solid rgb(87, 62, 230);
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 10px;
    user-select: none;
}

.quoteBox {
    padding-bottom: 80px;
}

#quoteResults {
    margin-top: 2%;
}

.backButton {
    background-color: #7777ff;
    outline-color: rgb(45, 45, 168);
    outline-style: ridge;
    outline-width: initial;
    position: absolute;
    border: none;
    left: 0;
    top: 0;
    padding: 10px;
    padding-right: 30px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    user-select: none;
}

.backButton:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.button {
    cursor: pointer;
}

.active {
    display: block;
}

.quoteContainer {
    position: relative;
}

.deleteButton {
    position: absolute;
    top: 1px;
    left: 1px;
    opacity: 80%;
    user-select: none;
}

.deleteButton:hover {
    cursor: pointer;
    opacity: 100%;
}

.Text {
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    color: white;
    background-color: #7777ff;
    outline-color: rgb(45, 45, 168);
    outline-style: ridge;
    outline-width: initial;
    border: none;
    padding: 10px;
    padding-right: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

.selection {
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    color: white;
    background-color: #7777ff;
    border: none;
    border-bottom: 3px solid white;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 50px;
    user-select: none;
}

.selection:focus {
    outline: none;
}

.selection:hover {
    cursor: pointer;
}

.headline {
    text-align: left;
    border-bottom: 3px solid white;
    margin-left: 10px;
}

.headline>h1 {
    margin-bottom: 10px;
}

.selection_items {
    margin-bottom: 10px;
    min-height: 0;
    max-height: 0;
    overflow: hidden;
    transition: 1s;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid_item {
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: black;
    font-size: 20px;
    resize: none;
    padding: 20px;
    margin-top: 20px;
    font-family: "Nunito", sans-serif;
    margin-left: 0.5rem;
}

.grid_item:hover {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: linear-gradient(270deg, rgb(84, 68, 143), rgb(115, 124, 224));
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation: fadeIn 0.5s;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #6A6DCA;
    width: 80%;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    animation: bgIn 0.6s;
}

@keyframes bgIn {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.6)
    }
}

@keyframes bgOut {
    0% {
        background-color: rgba(0, 0, 0, 0.6)
    }

    100% {
        background-color: rgba(0, 0, 0, 0)
    }
}

.popupContent {
    font-family: "Nunito";
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(87, 62, 230);
    outline: ridge;
    outline-color: rgb(45, 45, 168);
    border-radius: 10px;
    animation: contentIn 0.6s;
}

@keyframes contentIn {
    0% {
        transform: translate(-50%, -500%)
    }

    100% {
        transform: translate(-50%, -50%)
    }
}

@keyframes contentOut {
    0% {
        transform: translate(-50%, -50%)
    }

    100% {
        transform: translate(-50%, 500%)
    }
}

.popupTitle {
    color: #f8f8f8;
    text-align: left;
    padding-left: 20px;
    font-size: 50px;
    margin: 0px 0px;
    outline: ridge;
    outline-color: rgb(45, 45, 168);
    border-radius: 10px 10px 0px 0px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
}

.popupText {
    font-size: 30px;
    color: #f8f8f8;
    text-align: center;
}

.popupOptions {
    display: flex;
    justify-content: center;
}

.popupOptions>div {
    width: 50%;
    font-size: 20px;
    background-color: #7777ff;
    margin: 10px;
    text-align: center;
    outline: ridge;
    outline-color: rgb(45, 45, 168);
}

.popupOptions>div:hover {
    cursor: pointer;
}

.button1 {
    display: none;
}

.button2 {
    display: none;
}

.button3 {
    display: none;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.saveTo {
    word-wrap: break-word;
}

.saveToDisabled {
    background-color: #ddd !important;
    /* gray background */
    color: #aaa !important;
    /* gray text */
    border-color: #aaa !important;
    /* gray border */
    cursor: not-allowed !important;
    /* display a "not allowed" cursor */
}

.useQuotesButton,
.addQuotesButton,
.saveQuotes,
.saveTo,
.exportCollection,
.copyToClipboard,
.importCollection {
    background-color: white;
    border: 2px solid rgb(87, 62, 230);
    border-radius: 10px;
    color: rgb(87, 62, 230);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    transition: background-color 300ms linear;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    user-select: none;
}

.useQuotesButton:hover,
.addQuotesButton:hover,
.saveQuotes:hover,
.saveTo:hover,
.exportCollection:hover,
.copyToClipboard:hover,
.importCollection:hover {
    cursor: pointer;
    background-color: rgb(87, 62, 230);
    color: white;
}

.optionText {
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    color: white;
    background-color: #7777ff;
    border: none;
    border-color: rgb(45, 45, 168);
    border-bottom-right-radius: 10px;
    padding: 10px;
}

.optionsOpened {
    border-bottom: ridge;
    border-color: rgb(45, 45, 168);
    border-bottom-right-radius: 0px;
}

.optionsClosed {
    border-bottom: none;
    border-color: transparent;
    border-bottom-right-radius: 10px;
}

.optionText:hover {
    cursor: pointer;
}

.optionsField {
    padding: 0;
    margin: 0;
    transition-duration: 0.4s;
    max-height: 0;
    overflow: hidden;
    list-style-type: none;
}

.collectionName {
    background-color: white;
    border: 2px solid rgb(87, 62, 230);
    border-radius: 10px;
    color: rgb(87, 62, 230);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    width: auto;
    transition: background-color 300ms linear, box-shadow 300ms linear;
    -webkit-transition: background-color 300ms linear, box-shadow 300ms linear;
    -ms-transition: background-color 300ms linear, box-shadow 300ms linear;
    -o-transition: background-color 300ms linear, box-shadow 300ms linear;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.collectionName:focus {
    border: 2px solid rgb(87, 62, 230);
    box-shadow: 0 2px 5px rgba(87, 62, 230, 0.5);
}

.collections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.collection {
    background-color: white;
    border: 2px solid rgb(87, 62, 230);
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    color: rgb(87, 62, 230);
    padding: 10px;
    margin-top: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    width: auto;
    transition: background-color 300ms linear, box-shadow 300ms linear;
    -webkit-transition: background-color 300ms linear, box-shadow 300ms linear;
    -ms-transition: background-color 300ms linear, box-shadow 300ms linear;
    -o-transition: background-color 300ms linear, box-shadow 300ms linear;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.collection>ul {
    /* Align text to left */
    text-align: left;
    margin-top: 0px;
    padding: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
}

.collection:hover {
    cursor: pointer;
    background-color: rgb(87, 62, 230);
    color: white;
    box-shadow: 0 2px 5px rgba(87, 62, 230, 0.5);
}

.collectionDelete {
    background-color: white;
    border: 2px solid rgb(87, 62, 230);
    border-radius: 5px;
    border-top-left-radius: 0px;
    color: rgb(87, 62, 230);
    padding: 5px;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    width: auto;
    transition: background-color 300ms linear, box-shadow 300ms linear;
    -webkit-transition: background-color 300ms linear, box-shadow 300ms linear;
    -ms-transition: background-color 300ms linear, box-shadow 300ms linear;
    -o-transition: background-color 300ms linear, box-shadow 300ms linear;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top: none;
    float: left;
}

.collectionDelete:hover {
    cursor: pointer;
    background-color: rgb(230, 62, 62);
    color: white;
    box-shadow: 0 2px 5px rgba(87, 62, 230, 0.5);
}

.modal_header>h1,
.modal_header>h3 {
    /* Make sure text breaks when it is too big */
    word-wrap: break-word;
}

.showCorrectWord {
    font-family: "Nunito";
    background-color: rgb(175, 182, 255);
    border: solid;
    border-color: rgb(123, 134, 255);
    border-radius: 3px;
    padding: 0px 4px;
    margin: 0px 6px 0px 2px;
    word-wrap: break-word;
    display: inline-block;
    user-select: none;
}

.showCorrectWord:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.exportData>textarea,
#import {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


.footer {
    bottom: 0;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
}

.timerInput {
    width: 60%;
    height: 57px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin: 1rem auto; 
    text-align: center;
    display: block;
    -webkit-appearance: none; 
    -moz-appearance: textfield;
}

/* Hide the spinner in WebKit browsers (like Chrome and Safari) */
.timerInput::-webkit-outer-spin-button,
.timerInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spinner in Firefox */
.timerInput {
    -moz-appearance: textfield;
}

.plus1 {
    background-color: white;
    border: 2px solid rgb(87, 62, 230);
    border-radius: 10px;
    color: rgb(87, 62, 230);
    padding: 10px;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    transition: background-color 300ms linear;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    user-select: none;
    margin-right: 10px;
}

.plus1:hover {
    cursor: pointer;
    background-color: #7777ff;
    color: white;
}

.minus1 {
    background-color: white;
    border: 2px solid rgb(87, 62, 230);
    border-radius: 10px;
    color: rgb(87, 62, 230);
    padding: 10px;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    transition: background-color 300ms linear;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    user-select: none;
}

.minus1:hover {
    cursor: pointer;
    background-color: #7777ff;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timerStyle {
    position: fixed;
    bottom: 5px;
    left: 5px;
    padding: 10px;
    background-color: #3f3e3e;
    border: 2px solid rgb(44 43 43);
    border-radius: 10px;
    color: rgb(255 255 255);
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    opacity: 95%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    user-select: none;
}

#timerBtn1 {
    margin: auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

/* Changes to be made on elements when printing */
@media print {
    ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: transparent;
    }

    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: transparent;
    }

    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: transparent;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: transparent;
    }

    .border-box {
        outline-color: transparent;
    }

    .quoteShow {
        outline-color: transparent;
        margin-left: 0vw;
        width: 100%;
    }

    .submitButton {
        display: none;
    }

    .backButton {
        display: none;
    }

    .quoteShow {
        text-align: left;
        padding-left: 20px;
        font-size: 12px;
        margin-top: 1px;
    }

    .footer {
        display: none;
    }

}

@media screen and (max-width: 653px) {
    .popupContent {
        width: 90vw;
        height: auto;
        padding-bottom: 20px;
    }

    .popupText {
        padding: 10px;
    }

    .popupTitle {
        font-size: 30px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .grid_item {
        margin-left: 10%;
        margin-right: 10%;
    }

    #addQuote {
        width: 90%;
    }

    /* Make optimizations for phones */
    .quoteForm {
        margin-left: 5%;
        margin-right: 5%;
    }

    .quoteShow {
        margin-left: 5%;
        margin-right: 5%;
    }

    .quoteCheck {
        margin-left: 5%;
        margin-right: 5%;
    }

    .quoteBox {
        padding-bottom: 20px;
    }

    .optionButtonText,
    .optionButtonText,
    .optionText,
    .quote {
        width: 100%;
    }

    .title {
        font-size: 50px;
        padding-top: 3.5rem;
    }

    .submitButton {
        width: 90%;
    }

    .description {
        margin: 10px 10px 10px 10px;
    }
}


/* Focuses more on QuoteTest */
@media screen and (max-width: 420px) {
    .quoteBox>h1 {
        padding-top: 3.5rem;
    }
}

@media screen and (max-width: 300px) {

    .grid_item {
        margin-left: 2%;
        margin-right: 2%;
    }

    .title {
        font-size: 40px;
        padding-top: 3.5rem;
    }

    .quoteForm {
        margin-left: 2%;
        margin-right: 2%;
    }

    .quoteShow {
        margin-left: 2%;
        margin-right: 2%;
    }

    .quoteCheck {
        margin-left: 2%;
        margin-right: 2%;
    }

    .quoteBox {
        padding-bottom: 20px;
    }

    .optionButtonText,
    .optionButtonText,
    .optionText,
    .quote {
        width: 100%;
    }


}