body {
    background-image: linear-gradient(270deg, rgb(84, 68, 143), rgb(115, 124, 224));
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.border-box {
    position: relative;
    outline: ridge;
    outline-color: rgb(45, 45, 168);
    color: aliceblue;
    background-color: rgb(87, 62, 230);
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.title {
    font-size: 70px;
}

.description {
    font-size: 16px;
}

.quoteForm {
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(87, 62, 230);
    color: aliceblue;
    font-family: "Nunito", sans-serif;
    font-size: 30px;
}

#addQuote {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
    border: 2px solid rgb(87, 62, 230);
    cursor: pointer;
    margin-bottom: 10px;
}

#submitQuotes {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
    border: 2px solid rgb(87, 62, 230);
    cursor: pointer;
    margin-bottom: 10px;
}

.quote {
    text-align: center;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.menu {
    text-align: center;
    position: relative;
    left: 10%;
    outline: ridge;
    outline-color: rgb(50, 50, 180);
    margin-top: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    width: 80%;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(126, 178, 223);
    /* WHY WILL THIS TEXT NOT CENTER */
}

/* TODO: cry harder */

.menu:hover {}

/* ik im using an empty ruleset ill fill it when i have the js figured out */

.dropdown-menu {
    padding-top: 2rem;
    width: 60%;
    height: 100px;
    margin-left: 18%;
    display: none;
    /* this is not centered at all, i will do it when i have more than 3 braincells remaining */
}

.dropdown-menu>li {
    position: relative;
    display: block;
    background-color: rgb(126, 178, 223);
    margin-top: 1rem;
    height: 80px;
    border-radius: 20px;
    outline: ridge;
    outline-color: rgb(50, 50, 180);
}

.dropdown-menu-2 {
    margin-left: 18%;
}

.dropdown-menu-2>li {
    display: block;
    background-color: rgb(126, 178, 223);
    margin-top: 1rem;
    width: 60%;
    height: 60px;
    border-radius: 20px;
    outline: ridge;
    outline-color: rgb(50, 50, 180);
    margin-left: 6%;
    /* neither is this centered. css developers punching the air rn. */
}

.quoteShow {
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
    box-sizing: border-box;
    color: black;
    outline: ridge;
    outline-color: rgb(45, 45, 168);
    border-radius: 4px;
    background-color: rgb(213, 216, 250);
    font-size: 20px;
    resize: none;
    padding: 20px;
    margin-top: 20px;
}

.quoteCheck {
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ccc;
    margin-top: 6px;
    color: black;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}


.submitButton {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
    border: 2px solid rgb(87, 62, 230);
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 10px;
}

.quoteBox {
    padding-bottom: 80px;
}

#quoteResults {
    margin-top: 2%;
}

.backButton {
    background-color: #7777ff;
    outline-color: rgb(45, 45, 168);
    outline-style: ridge;
    outline-width: initial;
    position: absolute;
    border: none;
    left: 0;
    top: 0;
    padding: 10px;
    padding-right: 30px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.backButton:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.button {
    cursor: pointer;
}

.active {
    display: block;
}
.quoteContainer {
    position: relative;
}

.deleteButton {
    position: absolute;
    top: 1px;
    left: 1px;
}

.deleteButton:hover {
    cursor: pointer;
}

.Text {
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    color: white;
    background-color: #7777ff;
    outline-color: rgb(45, 45, 168);
    outline-style: ridge;
    outline-width: initial;
    border: none;
    padding: 10px;
    padding-right: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

.selection {
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    color: white;
    background-color: #7777ff;
    border: none;
    border-bottom: 3px solid white;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 50px;
}

.selection:focus {
    outline: none;
}

.selection:hover {
    cursor: pointer;
}

.headline {
    text-align: left;
    border-bottom: 3px solid white;
    margin-left: 10px;
}

.headline > h1 {
    margin-bottom: 10px;
}

.selection_items {
    margin-bottom: 10px;
    min-height: 0;
    max-height: 0;
    overflow: hidden;
    transition: 1s;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid_item {
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: black;
    font-size: 16px;
    resize: none;
    padding: 20px;
    margin-top: 20px;
    font-family: "Nunito", sans-serif;
}

.grid_item:hover {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: linear-gradient(270deg, rgb(84, 68, 143), rgb(115, 124, 224));
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation: fadeIn 0.5s;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.useQuotesButton {
    background-color: white;
    border: 2px solid rgb(87, 62, 230);
    border-radius: 10px;
    color: rgb(87, 62, 230);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    transition: background-color 300ms linear;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
}

.useQuotesButton:hover {
    cursor: pointer;
    background-color: rgb(87, 62, 230);
    color: white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Changes to be made on elements when printing */
@media print {
    ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: transparent;
    }

    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: transparent;
    }

    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: transparent;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: transparent;
    }

    .border-box {
        outline-color: transparent;
    }

    .quoteShow {
        outline-color: transparent;
        margin-left: 0vw;
        width: 100%;
    }

    .submitButton {
        display: none;
    }
    .backButton {
        display: none;
    }
    .quoteShow {
        text-align: left;
        padding-left: 20px;
        font-size: 12px;
        margin-top: 1px;
    }
}